* {
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
    --main-bg-color: rgb(32, 0, 68);
    --content-box-bg-color: rgb(20, 1, 39);
    --subdropdown-box-bg-color: rgb(32, 0, 58);
    --trigger-btn-dropdown-hover: rgba(72, 48, 177, 0.575);
    --trigger-btn-subdropdown-hover: rgba(72, 48, 177, 0.575);
    --sidebar-icons-hover: rgb(46, 5, 90);
    --li-hover: rgb(201, 201, 201);
    --a-hover: rgb(201, 201, 201);
    --tab-bg-color: rgb(42 8 81);
    --body-main-bg-color: rgb(10, 4, 17);
    --welcome-page: rgb(16, 0, 36);
    --fa-primary-color: rgb(25, 168, 216);
    --dialogue-color: rgb(111, 0, 201);
}

body {
    background-color: var(--body-main-bg-color);
}

nav {
    position: relative;
    z-index: 10;
    display: flex;
    width: auto;
    height: 4vh;
    flex-direction: row;
    background: var(--main-bg-color);
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    border-radius: 12px;
    margin: 5px;
}

a {
    cursor: pointer;
    color: white;
    text-decoration: none;
}

li {
    cursor: pointer;
    color: white;
    list-style: none;
}

#header_icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

#header_icon img {
    width: 1.5vw;
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 19px;
}

#sidebarControls {
    display: flex;
    align-items: center;
}

#sidebarSettings {
    display: flex;
    align-items: center;
}

.dropdown-trigger-btn {
    display: inline-flex;
    border-radius: 3px;
    width: auto;
    height: 20px;
    align-items: center;
    justify-content: center;
    color: white;
    border: none;
    outline: none;
    background-color: var(--main-bg-color);
    margin-left: 14px;
    cursor: pointer;
    padding-left: 7px;
    padding-right: 7px;
}

.dropdown-trigger-btn:hover {
    background-color: var(--trigger-btn-dropdown-hover);
}

.dropdown-content {
    display: none;
    margin-top: 1.7px;
    position: absolute;
    background-color: var(--content-box-bg-color);
    width: 21vw;
    box-shadow: 0px 8px 16px 0px rgb(53, 53, 53);
    padding-left: 9px;
    padding-right: 11px;
    padding-bottom: 9px;
    padding-top: 9px;
    border-radius: 5px;
    z-index: 4;
    position: absolute;
}

.dropdowncontent-hr {
    border: 0.5px solid white;
    border-radius: 2px;
}

.dropdown-content li {
    padding: 1px;
}

.dropdown-content li:hover {
    color: var(--li-hover);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.subdropdown-trigger-btn {
    cursor: pointer;
    color: white;
    list-style: none;
}

.subdropdown-trigger-btn:hover {
    background-color: var(--trigger-btn-subdropdown-hover);
}

.subdropdown-content {
    display: none;
    margin-top: 1.4px;
    margin-left: 12px;
    background-color: var(--subdropdown-box-bg-color);
    width: 21vw;
    box-shadow: 0px 7px 15px 0px rgb(53, 53, 53);
    padding-left: 10px;
    padding-right: 12px;
    padding-bottom: 12px;
    padding-top: 4px;
    border-radius: 6px;
    z-index: 4;
    position: absolute;
}

.subdropdowncontent-hr {
    border: 1px solid white;
    border-radius: 2px;
}

.subdropdown-content li {
    padding: 1px;
}

.subdropdown-content li:hover {
    color: var(--li-hover);
}

.subdropdown:hover .subdropdown-content {
    display: block;
}

.codewrpr {
    display: grid;
    grid-column-gap: 1vw;
    grid-template-columns: auto auto;
}

.SideBarmainwrper {
    display: flex;
    gap: 2px;
}

.mainsect {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 90vh;
}

.sidebar {
    color: white;
    display: flex;
    flex-direction: column;
    background-color: var(--main-bg-color);
    height: 90vh;
    width: 3.5vw;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    align-items: center;
}

.maincodearea {
    display: flex;
    flex-direction: column;
}

#mainProductivityArea {
    overflow: hidden;
}

#editor-wrapper {
    position: absolute;
    z-index: 5;
}

.reviewbarwrapper {
    display: flex;
    flex-direction: column;
    background-color: var(--main-bg-color);
    width: 3vw;
    height: 90vh;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.iconWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.iconWrapper:hover {
    background-color: var(--sidebar-icons-hover);
    transition: .5s;
}

.iconWrapper:hover .sidebarIconBar {
    visibility: visible;
}

.sidebaricons {
    display: flex;
    width: 3vw;
    height: 8vh;
    align-items: center;
    justify-content: center;
}

.sidebarIconBar {
    float: right;
    background-color: whitesmoke;
    width: 2px;
    height: 2pc;
    visibility: hidden;
}

.areastatusBarWrapper {
    margin-top: 0.6vh;
    display: flex;
    width: auto;
    height: 3vh;
    justify-content: center;
    align-items: center;
}

.statusBarWrapper {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    width: 98vw;
    height: 3vh;
    background-color: var(--main-bg-color);
}

.fa-chevron-right {
    transform: translateX(8px);
}

.expandable:hover .fa-chevron-right {
    transform: translateX(13px);
    transition: ease-in-out 0.3s;
}

.sidebarscontent {
    display: none;
    width: 20vw;
    height: 90vh;
    background-color: var(--main-bg-color);
    color: white;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.tabswrapper {
    width: auto;
    height: 5vh;
    flex-direction: row;
    align-items: center;
    margin-bottom: 4px;
    margin-top: 4px;
}

.tab {
    background-color: var(--tab-bg-color);
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: 1vw;
    height: 5vh;
    border-radius: 4px;
    margin-right: 8px;
    cursor: pointer;
}

.tab:hover {
    background-color: var(--main-bg-color);
}

.tabClose {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(8px);
    cursor: pointer;
    width: 1.5pc;
    height: 1.5pc;
    outline: none;
    border: none;
    background-color: transparent;
    border-radius: 5px;
    float: right;
}

.tabClose:hover {
    background-color: rgb(255, 255, 255, 0.4);
}

.fa-xmark {
    z-index: 2;
}

.welcomePage {
    width: 92vw;
    padding: 2vw;
    background-color: var(--welcome-page);
}

.welcomePageSection {
    width: calc(92vw/2);
    height: 78.9vh;
    z-index: 3;
}

#importantLinks {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 36vw;
    height: 70vh;
    background-color: rgb(23 0 59);
    border-radius: 12px;
}

.link {
    display: flex;
    flex-direction: row;
    width: 31vw;
    height: 15vh;
    border-radius: 5px;
    background: linear-gradient(343deg, #2200a9, transparent);
    margin-top: 12px;
    padding: 14px;
}

.link:hover {
    background: linear-gradient(223deg, #2200a9, transparent);
}

.link-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.link-content {
    margin-left: 1vw;
}

#defaultPage {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 92vw;
    height: 90vh;
}

.defaultPageSection {
    height: 45vh;
}

.shortcutkeys {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.shortcutkeysSection {
    width: 15vw;
}

#infowrpr {
    background-color: rgba(255, 255, 255, 0.329);
    position: absolute;
    z-index: 11;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

#info {
    border-radius: 5px;
    position: absolute;
    z-index: 11;
    width: 24vw;
    height: auto;
    background-color: var(--content-box-bg-color);
}


#infoClose {
    display: flex;
    justify-content: flex-end;
}

.infoSection {
    padding: 8px;
}

.btn-normal {
    outline: none;
    border: none;
    border-radius: 4px;
    background: radial-gradient(rgb(124 36 213), rgb(61 0 122));
    opacity: 0.8;
    color: #fff;
    min-width: 10vw;
}

.monaco-editor .overflow-guard {
    border-radius: 10px;
}

.form input[type="file"] {
    display: none;
}

input[type="text"] {
    display: none;
}

#greetings {
    height: 36.9vh;
}

#quick-file-management {
    height: calc(83.5vh - 36.9vh);
}

.file-options:hover {
    cursor: pointer;
    color: rgb(27, 130, 165);
}

.fa-file-circle-plus {
    color: var(--fa-primary-color);
}

#mainCodeNavigation {
    display: flex;
    justify-content: space-between;
}

#newfilewrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 92vw;
    height: 83.5vh;
}

#newFile {
    display: flex;
    background-color: var(--dialogue-color);
    position: absolute;
    z-index: 7;
    width: 36vw;
    height: 74vh;
    border-radius: 12px;
    padding: 50px;
}